.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.help-button {
  top: 0;
  right: 0;
  position: fixed;
}

.form-container {
  max-width: 400px !important;
}

.grid-container {
  max-width: 600px !important;
}

.bad-input-text {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

#islandGrid td {
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.gray-bg {
  background-color: #ffffff38 !important;
}

table[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

@media (max-width: 575.98px) {
  * {
    font-size: small !important;
  }
}

@media (min-width: 576px) {
  #islandGrid td:hover {
    cursor: pointer;
    background-color: #ffc10775 !important;
  }
}


