.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.help-button {
  top: 0;
  right: 0;
  position: fixed;
}

.form-container {
  max-width: 400px !important;
}